* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --gradient-color-left: #eeaeca;
  --gradient-color-right: #94bbe9;
  --dark-text: rgb(92, 92, 92);
  --add-button: #f588b7;

}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(120deg, var(--gradient-color-left), var(--gradient-color-right));
  color: #fff;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

h1 {
  font-weight: 600;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: .5rem;
  font-size: 2rem;
  border: none;
  background-color: #fff;
}

form input {
  color: var(--dark-text);
}

form button {
  background: #fff;
  color: var(--add-button);
  cursor: pointer;
}

/* form button i:hover {
  color: #f588b7;
  transition: all .3s ease;
} */

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}

.todo-item {
  flex-grow: 1;
  padding: 0rem .7rem;
}

.todo {
  background-color: #fff;
  color: var(--dark-text);
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1.5rem;
  transition: all .5s ease;
}

.complete-btn,
.trash-btn {
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: .5rem;
  cursor: pointer;
}

.complete-btn {
  background-color: rgb(41, 172, 150);
}

.trash-btn {
  background-color: rgb(255, 113, 132);
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: .5;
}

.fall {
  transform: translateY(8rem) rotate(20deg);
  opacity: 0;
}
